---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "@/components/Hero.astro";
import Features from "@/components/Features.astro";
import Cta from "@/components/Cta.astro";
---

<Layout>
  <main>
    <Hero />
    <Features />
    <Cta />
  </main>
</Layout>
