---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import PaigePreview from "@/assets/images/paige-preview.png";
---

<section class="relative overflow-hidden">
  <div
    id="hero-circle-container"
    class="absolute -z-10 top-0 left-0 right-0 h-full md:h-screen max-h-[950px] flex items-center justify-center overflow-hidden"
  >
    <div class="circle bg-[#D5486A]"></div>
    <div class="circle bg-[#F37357]"></div>
    <div class="circle bg-[#6F78F0]"></div>
    <div class="circle bg-[#D5486A]"></div>
    <div class="circle bg-[#F37357]"></div>
    <div class="circle bg-[#6F78F0]"></div>
    <div class="absolute top-0 left-0 right-0 bottom-0 backdrop-blur-[80px]">
    </div>
  </div>
  <div
    class="pt-[--nav-height] min-h-[90vh] md:min-h-auto flex flex-col justify-between md:block"
  >
    <div
      class="max-w-[700px] md:h-[70vh] md:max-h-[740px] mx-auto py-16 px-4 flex flex-col items-center gap-9"
    >
      <h1 class="text-4xl md:text-6xl font-bold text-center">
        Personalized <span class="text-primary text-nowrap">New Tab</span> for
        Your Browser
      </h1>
      <p class="md:text-lg text-center">
        Designed to enhance your browsing experience with a range of features
        and benefits that help you personalize your new tab page.
      </p>
      <Button class="[--inset-shadow-color:#ffffff50]" insetShadow>
        Add to browser
      </Button>
    </div>
    <div class="perspective pb-10 px-4">
      <div
        id="paige-preview"
        class="overflow-clip p-2.5 rounded-[20px] md:p-5 md:rounded-[44px] bg-gradient-to-b from-[#6F78F04F] via-[#F3735754] to-[#F9CC1547] lg:w-4/5 lg:max-w-5xl mx-auto shadow-xl"
      >
        <Image
          quality={90}
          src={PaigePreview}
          alt="Paige preview"
          class="overflow-clip rounded-[10px] md:rounded-[24px]"
        />
      </div>
    </div>
  </div>
</section>

<style>
  #paige-preview {
    transition: transform 400ms ease-out 0s;
    transform: rotateX(25deg);
  }
  #paige-preview img {
    opacity: 0;
  }
  .perspective {
    perspective: 2000px;
  }
</style>
<script>
  import { inView, animate } from "motion";

  function animatePreviewImage() {
    inView(
      "#paige-preview",
      ({ target }) => {
        animate(
          target.querySelector("img")!,
          { opacity: [0, 1], transform: "none" },
          { delay: 0.2, duration: 1, easing: "ease-in-out" }
        );
        animate(
          target,
          { transform: "none" },
          { delay: 0.2, duration: 0.8, easing: [0.17, 0.55, 0.55, 1] }
        );
      },
      {
        amount: 0.4,
      }
    );
  }

  animatePreviewImage();
</script>
