---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
import { paigeChromeUrl } from "@/data";
---

<nav class="fixed left-0 top-0 w-full z-10 overflow-hidden backdrop-blur-md">
  <div
    class="container mx-auto flex justify-between items-center h-[--nav-height] px-4"
  >
    <a href="/">
      <Icon name="logo" class="h-8 w-auto" />
      <span class="sr-only">Paige Logo</span>
    </a>
    <div class="flex gap-4">
      <Button
        variant="outline"
        as="a"
        href="https://github.com/Dev-Motion/paige"
        target="_blank"
      >
        <Icon name="mdi:github" />
        Contribute
      </Button>
      <Button
        variant="secondary"
        as="a"
        href={paigeChromeUrl}
        class="hidden md:flex">Add to browser</Button
      >
    </div>
  </div>
</nav>
